/* .first{
    background-color: turquoise;
}
.second{
    background-color: rgb(196, 26, 26);
}
.third{
    background-color: lime;
}
.tortinchi{
    background-color: rgb(112, 43, 43);
    color: white;
} */
.swipe{
    transition: all 1s;
}
.card-body:hover .swipe{
    transform: rotate(360deg);
}
.swipe1{
    transition: all 1s;
}
.card-body:hover .swipe1{
    transform: rotate(-360deg);
}
    .card-body{
overflow:hidden ;
        border: 2px solid transparent !important;
}
.card-body:hover{
    border: 1px solid red!important;

}
.card-body:hover .place{
    bottom: 0;
}
.card-body:hover .place2{
    left: 18px;
}
.card-body:hover .place3{
    transform: rotate(360deg);
    opacity: 1;
}
.card-body:hover .place4{
    bottom: 0;
}
.card-body:hover .place5{
    bottom: 0;
}
.rasm{
    width: 50px;
}
.place{
    margin-left: -16.5px;
    width: 100%;
    bottom: 0;
    border-left: 2px solid white;
    border-right: 2px solid white;
    transition: all 0.5s linear;
    bottom: -200px;
}
.place2{
    margin-left: -16.5px;
    width: 100%;
    bottom: 0;
    border-left: 2px solid white;
    border-right: 2px solid white;
    transition: all 0.5s linear;
    left: -250px;
}
.place3{
    margin-left: -16.5px;
    width: 100%;
    bottom: 0;
    border-left: 2px solid white;
    border-right: 2px solid white;
    transition: all 0.5s linear;
    /* bottom: -200px; */
    opacity: 0;
}
.place4{
    margin-left: -16.5px;
    width: 100%;
    bottom: 0;
    border-left: 2px solid white;
    border-right: 2px solid white;
    transition: all 0.5s linear;
    bottom: -200px;
}
.place5{
    margin-left: -16.5px;
    width: 100%;
    bottom: 0;
    border-left: 2px solid white;
    border-right: 2px solid white;
    transition: all 0.5s linear;
    bottom: -200px;
}


.sozlar{
    font-size: 30px;
    width: 100%;
    justify-content:center;
    bottom: 63px;
}
span{
    font-size: 15px;
}
.card{
    transition: all 1s;

}
.card:hover{
    box-shadow: 3px 3px rgb(43, 41, 41);
}
.color{
    width: 100%;
    background-color: red;
}
.word5{
    color: turquoise;
}
.word4{
    color: red;
}
.word3{
    color: gray;
}
.word2{
    color: blue;
}
.word1{
    color: rgb(190, 190, 28);
}
